body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
    background-color: #e8abe8ed;
    margin-top: 100px;
}

.container {
    text-align: center;
}
.hidden{
    display: none;
}
.players-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
.players-input input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0px;
    width: 250px;

}
.players-input button{
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.players-input button:hover{
    background-color: #0056b3;
}

h1 {
    margin-bottom: 0px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    border: 2px solid #333;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

#turn-indicator {
    margin-bottom: 10px;
}
.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:10px;

}
.buttons button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons button:hover{
    background-color: #367c39;
}
.score-board{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
.score-board h2{
    margin-bottom: 15px;
}
.score-board ul{
    list-style-type: none;
    padding: 0;
}
.score-board ul li{
    margin-bottom: 5px;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
}
.message-area{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}
.message-area button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-area button:hover{
    background-color: #0056b3;
}
